.address-modal {
  width: 50vw;
  height: 80vh;
  /* display: block;
     margin: auto; */
  position: absolute;
  top: 5vh;
  left: 25vw;
  border: 2px solid gray;
  border-top: none;
  border-radius: 2rem;
  
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.address-modal-banner{
    background-color: black;
    width: 100%;
    padding-block: 1rem;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    border-radius: 0.4rem;
}

.address-modal>form>*{
    margin-block:1rem;
}
.address-modal>form>:nth-child(4)>*{
    /* outline: 2px solid lime; */
    margin-block: 1rem; ;
}

.address-modal  input {
  width: 30vw;
  /* display: none; */
  padding: 0.4rem 0.9rem;
  border: 1px solid gray;
  border-radius: 5px;
}

.adrress-name-section>input{
    width: 15vw;
}

.address-select{
    width: 30vw;
    display: block;
    margin:auto;
}