/* ---------------------- Navbar ------------------------------------- */

.primary-header {
  /* padding: 1.5rem; */
  position: relative;
  /* outline: 2px solid red; */
}

.logo img {
  width: 12rem;
}

.nav-list {
  background-color: var(--clr-neutral-100);
}

.nav-list a {
  text-decoration: none;
  color: var(--clr-primary-900);
  margin-block-end: 1rem;
  display: block;
  margin-inline: auto;
  text-align: center;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav-toggle {
  display: block;
  width: 2rem;
  aspect-ratio: 1;
  background-image: url(../assets/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: 0;
  background-color: transparent;
}

.mobile-nav-toggle[aria-expanded="true"] {
  background-image: url(../assets/icon-close.svg);
}

.primary-navigation {
  display: none;
  width: 80%;
  aspect-ratio: 1/0.5;
  margin-inline: auto;
  position: absolute;
  inset: 7rem 0 0 0;
  background-color: var(--clr-neutral-100);
  padding-block: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0em 0em 8em 10em rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.primary-navigation[data-visible] {
  display: block;
}

@media (min-width: 47em) {
  .primary-header {
    padding-block: 1rem;
  }

  .nav-list {
    display: flex;
    gap: clamp(0.5rem, 2vw, 1.5rem);
  }

  .primary-navigation {
    display: flex;
    width: auto;
    aspect-ratio: 0;
    margin-inline: 0;
    position: relative;
    inset: 0;
    background-color: var(--clr-neutral-100);
    padding-block: 0;
    border-radius: 0;
    box-shadow: none;
  }

  .nav-list a {
    position: relative;
  }

  .nav-list a:is(:hover, :focus) {
    color: black;
  }

  .nav-list a::before {
    transition: 300ms;
    content: "";
    position: absolute;
    bottom: -35px;
    height: 5px;
    width: 100%;
    background: var(--clr-gradient-primary);
    opacity: 0;
  }

  .nav-list a:hover::before {
    bottom: -25px;
    opacity: 1;
    color: black;
  }

  .mobile-nav-toggle {
    display: none;
  }

  .right-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
  }

  .right-nav > * {
    color: black;
    transition: all 350ms ease-in-out;
  }

  .right-nav > *:is(:hover, :focus-within) {
    color: rgb(98, 239, 98);
    cursor: pointer;
  }

  .search-bar {
    width: 100vw;
    height: max-content;
    position: absolute;
    top: 0;
    left: 0;
    padding: 14px 4rem;
    display: flex;
    /* outline: 2px solid red; */
    z-index: 100000000000;
    background-color: whitesmoke;
    
  }

  .search-bar > input {
    width: 60vw;
    height: 3rem;
    margin-left: 8rem;
    padding: 5px;
    border-radius: 4rem;
    outline: 2px solid rgb(28, 189, 136);
    border: none;
  }

  .search-bar > :nth-child(2) {
    width: 4rem;
    aspect-ratio: 1/0.5;
    outline: none;
    background-color: rgb(50, 203, 152);
    margin-inline: 1rem;
    padding: 15px;
    border-radius: 3rem;
  }
  .search-bar > :nth-child(3) {
    width: 1.5rem;
    aspect-ratio: 1/1.5;
    outline: none;
    border: none;
    background: url(../assets/icon-close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-inline: 1rem;
    position: absolute;
    right: 2rem;
    top: 10px;
  }
}

/* ----------------------------- */
/* Dropdown styles */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Link styles */
.dropdown a {
  text-decoration: none;
  color: #333;
  /* padding: 10px; */
  display: inline-block;
}

/* Dropdown content styles (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;

  /* Transition effect with 0.3s duration */
  transition: opacity 600ms ease-in-out;
}

/* Dropdown option styles */
.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

/* Change color on hover for the dropdown options */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Display the dropdown content when hovering over the dropdown link */
.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1; /* Show the dropdown with a fade-in effect */
}

/* Dropdown options container styles (grid layout) */
.dropdown-options {
  display: grid;
  grid-template-columns: repeat(
    4,
    1fr
  ); /* Adjust the number of columns as needed */
  gap: 5px; /* Adjust the gap between columns */
}

/* Dropdown option styles */
.dropdown-options > div {
  color: #333;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  cursor: pointer;
}

/* Change color on hover for the dropdown options */
.dropdown-options > div:hover {
  background-color: #ddd;
}
